main {
    padding-top: 20px;
}
.inputarea{
    margin-bottom: 10px;
}

.testblock{
    padding: 10px;
    margin-top: 10px;
    border: 2px solid grey;
    border-radius: 25px;
    background-color: wheat;
}

body {
    background-image: url(img/pinkdust.png);
}

h4 {
    font-weight: bold;
}

.main-button {
    float:right;
    width: 25px;
    height: 25px;
    background: url('http://pngimages.net/sites/default/files/small-down-arrow-png-image-68663.png') center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
}
.main-button:active {
  transform: translateY(4px);
}
.hidden-div {
    width: 95%;
    height: 100px;
}

.image-block {
    display: flex;
    justify-content: space-around;
}

.active {
    display: none;
}

.screen {
    margin: auto;
    width: 100px;
    height: 90%;
    border: 1px solid green;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: rgba(192,192,192, 0.8);
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content > img {
    max-height: 100%;
    max-width: 100%;
}


/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
